@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sofadi+One&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    font-family: "PT Sans", serif;
    text-align: center;
}

.intro-image{

    background-attachment: fixed;
    background-image: url("../img/image1.jpg");
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.intro-image_link a{

    background-color: #b69c95cc;
    border: 2px solid #b69c95;;
    color: #826058;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image_link a:hover {

    transform: scale(1.2);
}

.intro-text {
    background-color: #594b54 ;
    color: #9a9491;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text_textbox h3 {

    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url(../img/image2.jpg);
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #40525ea3;
    border: 2px solid #40525e;
    color: #cfbfb4;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2); 
}

.quality-text {
    background-color: #7a5748;
    color: #cfbfb4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
   margin-bottom: 1rem;
}


.origin-image {
    background-attachment: fixed;
    background-image: url(../img/image3.jpg);
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #4f45399c;
    border: 2px solid #4f4539;
    color: #dfe3e7;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #8e7060;
    color: #dfe3e7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-image__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
   margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #201d1c;
    color: #cfbfb4;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li {
    color: #cfbfb4;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #e5d9d1;
    transform: scale(1.5);
}